<form method="POST">
  {% csrf_token %}
  <input type="text" name="first_name" placeholder="Emri" required>
  <input type="text" name="last_name" placeholder="Mbiemri" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="tel" name="phone_number" placeholder="Numri i telefonit">
  <select name="service" required>
    <option value="visa_uk">Viza Angli</option>
    <option value="visa_usa">Viza SHBA</option>
  </select>
  <button type="submit">Submit</button>
</form>
